.div {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: darkorange;
    border-radius: 100px;
    display: inline-block;
    
}
.klas {
    width: 200px;
    height: 200px;
    background-color: rgb(42, 165, 102);
    color: rgb(237, 22, 165);
    
    display: inline-block;
}